.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.limit-more-line {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.num-block {
    display: inline-block;
    text-align: center;
    width: 35px;
    margin: 10px 0;

    div:first-child {
        color: #888888;
        font-size: 14px;
    }
    div:nth-child(2) {
        font-size: 20px;
        margin-top: 5px;
        font-weight: bold;
    }
}

.line-center {
    display: flex;
    align-items: center;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.color-theme {
    color: #{'rgb(var(--theme-color))'};
}

@media (max-width: $bp-l) {
    .auto-hide {
        display: none !important;
    }
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px 6px rgb(7 17 27 / 6%);
    margin-bottom: 15px;

    transition: box-shadow .3s ease;
    overflow: hidden;

    will-change: box-shadow;

    &:hover {
        box-shadow: 0 4px 12px 12px rgb(7 17 27 / 15%);
    }
}

.content {
    margin-top: $nav-height;
    transition: margin-top 0.5s ease;
}

.processbar {
    display: inline-flex;

    width: 100%;
    height: 10px;
    border-radius: 5px;
    
    background-color: var(--theme-second-color);
    // position: fixed;


    @keyframes swiper {
        from { transform: rotate(50deg) translateX(1px) translateY(-8px); }
        50%  { transform: rotate(50deg) translateX(1px) translateY(-9px); }
        to   { transform: rotate(50deg) translateX(1px) translateY(-7.5px); }
    }

    .processbar-process {
        .icon {
            float: right;
            font-size: 20px;

            animation: 0.3s linear 0s infinite alternate swiper;
        }
        width: 0;
        height: 10px;

        border-radius: 5px;
        background-color: #{'rgb(var(--theme-color))'};
        opacity: 0.8;
        transition: width 0.3s ease;

        will-change: width;
    }
}

.float-bar {
    position: fixed;
    bottom: 16px;
    right: 16px;

    display: flex;
    // visibility: hidden;
    flex-direction: column;

    .float-item {
        display: inline-block;
        height: 36px;
        width: 36px;

        color: white;
        opacity: 0.8;
        background-color: #{'rgb(var(--theme-color))'};

        margin-bottom: 6px;
        border-radius: 3px;

        text-align: center;
        line-height: 36px;

        transition: opacity 0.2s ease, right 0.3s ease;
        cursor: pointer;
        
        &:hover {
            opacity: 1;
        }
    }

    .theme-config {
        svg {
            transition: transform 0.3s ease;
        }
        
        &:hover svg {
            transform: rotate(90deg);
        }
    }

    .toggle-dark-mode {
        .light {
            display: none;
        }
    }

    
    // 特殊情况类
    .config-mode {
        position: relative;
        right: -99px;
    }

    &.config .config-mode {
        right: 0px;
    }

    .float-bar-hide-xl {
        display: none;

        @media (max-width: $bp-xl) {
            display: block;
        }
    }
}

.tags-cloud {
    p {
        color: #888888;
        font-size: 16px;
        text-align: center;
    }

    span {
        cursor: pointer;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.2) !important;
        }
        
    }
}