// bp-xl: card-vertical
// bp-l: no-side
// bp-m: padding less, small tittle 

$bp-m: 480px;
$bp-l: 690px;
$bp-xl: 900px;
$bp-xxl: 1200px;

$nav-height: 60px;

@import './common.scss';

// pages
@import 'page-index.scss';
@import 'page-post.scss';
@import 'page-archives.scss';
@import 'page-other.scss';

// modules
@import 'module/pagination.scss';
@import 'module/footer.scss';
@import 'module/toastr.scss';

:root {
    --theme-color: 160, 94, 104;
    --theme-second-color: rgb(240, 240, 240);
    --vh: 80px;
}

body {
    margin: 0;
    font-family: "Century Gothic", 'Lato', 'Microsoft YaHei', 'SimHei', sans-serif;
}

a {
    text-decoration: none;
    transition: all .15s linear;

    &:hover {
        color: #{'rgb(var(--theme-color))'};
    }
}

