$back-color: #0D1117;
$second-color: #181d24;
$primary-font-color: white;
$font-color: #888888;

.toggle-dark-mode {
    .light {
        display: inline-block;
    }
    .dark {
        display: none;
    }
}

body {
    background-color: $back-color;
    transition: background-color 0.3s ease;
}

.cover .background{
    filter: brightness(0.5);
}

.card {
    background-color: $second-color;
    box-shadow: 0 3px 8px 6px rgb(110 110 110 / 6%);

    &:hover {
        box-shadow: 0 3px 16px 12px rgb(200 200 200 / 16%);
    }

    .in-widget-tittle a:not(:hover) {
        color: $primary-font-color;
    }

    color: $font-color;
}

.card-article .in-card-tittle:not(:hover),
.card-post-widget .in-widget-tittle,
.card-widget .in-widget-tittle:not(a),
.card-widget a.in-widget-tittle:not(:hover) {
    color: $primary-font-color;
}

.widget-social .in-widget-content a:not(.star),
.widget-category .in-widget-content li a:not(:hover) {
    color: $font-color;
}

@media (max-width: $bp-xl) {
    .post-sidebar .card {
        background-color: unset;
        box-shadow: unset;
    }
}


.pagination {
    background-color: $second-color;
    box-shadow: 0 3px 8px 6px rgb(110 110 110 / 6%);
    
    &:hover {
        box-shadow: 0 3px 16px 12px rgb(200 200 200 / 16%);
    }
}

.page-content {
    color: $primary-font-color;
}

.page-list-content a:not(:hover){
    color: $primary-font-color;
}

.yun-scroll-bar::-webkit-scrollbar-track {
    background-color: $font-color;
}

.cd-timeline-content {
    color: $primary-font-color;
    p {
        color: $font-color;
    }
    ul h2 a:not(:hover) {
        color: $primary-font-color;
    }
    
}


.post-wrapper {
    h1 {
        color: #C9D1D9;
    }

    table {
        td, th {
            padding: 6px 13px;
            border: 1px solid #3B434B;
        }

        tr {
            background-color: $back-color;
            border-top: 1px solid #3B434B;
        }

        tr:nth-child(2n) {
            background-color: #161B22;
        }
    }
}
//#d9bb3c
