footer {
    text-align: center;
    margin-top: 0 auto;
    padding: 20px;
    font-size: 14px;
    line-height: 1.6em;
    color: #a6a6a6;

    a {
        color: #888888;
    }

    .footer_text {
        font-size: 12px;
    }

}